#caixa_consulta_telefone{
	
	background-color: gray;
	width: 350px;
	height: 185px;
	align-content: center;
	display: block;
	border: dashed; 
	margin-top: 20px;
	margin-left: 350px;
    border-radius: 20px;
	
}

#corpo{
	
	background-color: red;
	
}

#mensagem{
	
	margin-top: 15px;
	margin-left: 70px;
	
}

#campo{
	
	margin-left: 70px;
	
}

#botao{
	
	margin: center;
	margin-left: 110px;
	border-radius: 20px;
	
}

body {
	background-color: black;
  	margin: 0;
  	padding: 0;
}

nav {
  background-color: #333;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
}

.menu li a:hover {
  background-color: #555
  }
  
  #menuCarrinho{
	  
	  margin-left:1180px;
	  
  }