#caixa_consulta_telefone{
	
	background-color: gray;
	width: 350px;
	height: 185px;
	align-content: center;
	display: block;
	border: dashed; 
	margin-top: 20px;
	margin-left: 350px;
    border-radius: 20px;
	
}

.body{

	background-color: black;
	
}

#mensagem{
	
	margin-top: 15px;
	margin-left: 70px;
	
}

#campo{
	
	margin-left: 70px;
	
}

#botao{
	
	margin: center;
	margin-left: 110px;
	border-radius: 20px;
	
}